:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}

/* Header */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 2px solid red; */
}
.header {
  border-bottom: 1px solid #ececec;
}
.box-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 00.03em;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-studio {
  color: var(--primary-text-color);
}

.nav {
  gap: 93px;
  display: flex;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
}

.nav-webstudio {
  display: flex;
  gap: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-studio {
  color: var(--accent-color);
  text-decoration: none;
}

.nav-studio:current {
  color: var(--primary-text-color);
}
.nav-studio:hover,
.nav-studio:focus {
  color: var(--primary-text-color);
}

.nav-portfolio {
  color: var(--primary-text-color);
  text-decoration: none;
}
.nav-portfolio:current {
  color: var(--accent-color);
}
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--accent-color);
}

.nav-contacts {
  color: var(--primary-text-color);
  text-decoration: none;
}

.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--accent-color);
}

.contacts {
  display: block;
  display: flex;
  gap: 50px;
}

.contacts-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
  text-align: center;
  padding: 200px 0px;
}

.hero-title {
  margin-bottom: 30px;
  align-items: center;
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  vertical-align: top;
  letter-spacing: 0.06em;
}
.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  display: block;
  min-width: 216px;
  margin: auto;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button-primary:hover,
.button-primary:focus {
  color: var(--accent-color);
}
.button-primary:active {
  color: #ffffff;
}

/* Features */

.features-title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-item {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  align-items: center;
}
.features-list {
  display: flex;
  gap: 30px;
}
/* Work */

.work-section {
  padding-top: 0;
}
.work {
  padding-top: 0;
}
.work-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.work-list {
  display: flex;
  gap: 30px;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

/* Команда */
.color-team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style: none;
}

.team-title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-team {
  margin-bottom: 0px;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Контакти*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.logo-footer {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
}
.contacts-logoweb {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.contacts-logostudio {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.margin {
  display: block;
  margin-bottom: 9px;
}
.addres-link {
  color: #ffffff;
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.mailto-link {
  display: block;

  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.mailto-link:hover,
.mailto-link:focus {
  color: var(--accent-color);
}

.tel-link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* Portfolio */

/* Header  */

/* logo */

.studio-nav {
  color: var(--primary-text-color);
  text-decoration: none;
}

.studio-nav:current {
  color: var(--accent-color);
}
.studio-nav:hover,
.studio-nav:focus {
  color: var(--accent-color);
}
.portfolio-nav {
  color: var(--accent-color);
  text-decoration: none;
}
.nav-portfolio:current {
  color: var(--accent-color);
}
.nav-portfolio:hover,
.nav-portfolio:focus {
  color: var(--accent-color);
}
/* filters */

.button {
  display: inline-block;
  display: flex;
  text-align: center;
  padding: 0px;
  justify-content: center;
  border-radius: 4px;
  gap: 8px;
  padding: 0px;
  margin-bottom: 50px;
}
.button-primary {
  display: inline-block;
  padding: 6px 25px;
  min-width: 73px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
}

.button-primary:hover,
.button-primary:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.button-primary:active {
  color: var(--accent-color);
}

.button-secondary {
  display: inline-block;
  min-width: 112px;
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
}
.button-secondary:hover,
.button-secondary:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.button-secondary:active {
  color: #ffffff;
}
.button {
  list-style: none;
  text-decoration: none;
}
/* Portfolio */
.img-container {
  width: 1200px;
}

.about-portfolio {
  display: block;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.link-title {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.title {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.link {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
